/* Enter your custom styles here */

.rounded {
    border-radius: 20px;
}

.roundedImg {
    border-radius: 10px;
}

.title { 
    font-weight: 600;
    font-size: x-large;
}

/* .myCustomSF .sapMSFF, .sapMSFB{
    border-radius: 30px;
    height: 3rem;
    font-size: larger;
    align-content: center;
    font-size: 2rem;
} */